<h2
  class="flex flex-col leading-[1] px-[20px] md:px-[60px] pt-20 md:pt-h2-landing-page-padding-top text-[48px] text-black font-bold md:text-[clamp(48px,120/2000*100vw,120px)]"
  appSlideUp>
  <span> our energy</span>
  <span class="text-link-hover">infusions</span>
</h2>

<div
  class="tiles mt-[80px] px-[20px] grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-5 overflow-hidden"
  appTilesAnimation>
  <div
    class="tile relative p-tile-spacing aspect-[9/8] rounded-[50px] cursor-pointer overflow-hidden"
    *ngFor="let til of tilesArray"
    [routerLink]="['/shop']" [queryParams]="{id: til.id}"
    >
    <p class="relative text-[9vw] md:text-[5vw] lg:text-[3vw] whitespace-nowrap font-bold z-[1]">{{ til.title }}</p>
    <button
      class="absolute bottom-5 right-5 rounded-[2.5rem] w-[40px] h-[40px] inline-flex items-center justify-end px-[11px] overflow-hidden z-[2]">
      <span class="text-white font-semibold">discover</span>
      <svg
        class="stroke-white"
        viewBox="0 0 20 20"
        id="arrow-right"
        width="18px"
        height="18px"
        stroke-width="2px">
        <g>
          <path fill="none" d="M0.7,10H18" stroke-linecap="round" />
          <path fill="none" d="M10.9,2.9L18,10l-7.1,7.1" />
        </g>
      </svg>
    </button>
    <img
      class="absolute left-[-10px] bottom-[-20px] w-[100%] translate-y-1/4 z-[1]"
      [src]="til.image"
      alt="" />
    <div class="background"></div>
  </div>
</div>
