
.tile {
  button {
    transition: width 0.3s;
    span {
      position: absolute;
      right: 45px;
      opacity: 0;
      transform: translate3d(-20px, 0, 0);
      transition:
        opacity 0.3s cubic-bezier(0.38, 0.005, 0.215, 1),
        transform 0.6s cubic-bezier(0.38, 0.005, 0.215, 1);
    }
  }

  img {
    transition: transform 0.3s cubic-bezier(0.38, 0.005, 0.215, 1);
  }

  .background {
    position: absolute;
    inset: 0;
    opacity: 0.1;
  }
}

.tile:hover > button {
  width: 8rem;
}

.tile:hover > button > span {
  opacity: 1;
  transform: translate3d(0, 0, 0);
}

.tile:hover > img {
  transform: translateY(6%);
}

.tile:nth-child(1) {
  background-color: theme('colors.catagory.child1.background');
  color: theme('colors.catagory.child1.text');

  button {
    background-color: theme('colors.catagory.child1.text');
  }

  &:hover > .background {
    background-color: theme('colors.catagory.child1.text');
  }
}

.tile:nth-child(2) {
  background-color: theme('colors.catagory.child2.background');
  color: theme('colors.catagory.child2.text');

  button {
    background-color: theme('colors.catagory.child2.text');
  }

  &:hover > .background {
    background-color: theme('colors.catagory.child2.text');
  }
}

.tile:nth-child(3) {
  background-color: theme('colors.catagory.child3.background');
  color: theme('colors.catagory.child3.text');

  button {
    background-color: theme('colors.catagory.child3.text');
  }

  &:hover > .background {
    background-color: theme('colors.catagory.child3.text');
  }
}

.tile:nth-child(4) {
  background-color: theme('colors.catagory.child4.background');
  color: theme('colors.catagory.child4.text');

  button {
    background-color: theme('colors.catagory.child4.text');
  }

  &:hover > .background {
    background-color: theme('colors.catagory.child4.text');
  }
}

.tile:nth-child(5) {
  background-color: theme('colors.catagory.child5.background');
  color: theme('colors.catagory.child5.text');

  button {
    background-color: theme('colors.catagory.child5.text');
  }

  &:hover > .background {
    background-color: theme('colors.catagory.child5.text');
  }
}

.tile:nth-child(6) {
  background-color: theme('colors.catagory.child6.text');
  color: theme('colors.catagory.child6.background');

  button {
    background-color: theme('colors.catagory.child6.background');
    span {
      color: theme('colors.catagory.child6.text');
    }

    svg {
      stroke: theme('colors.catagory.child6.text');
    }
  }

  &:hover > .background {
    background-color: #fff;
  }
}

.btn-disabled {
  background-color: #f9f9f9;
  color: theme('colors.secondary');
  cursor: auto;
}

@media (min-width: 1024px) {
  .tile {
    z-index: 1;
    &:last-child {
      button {
        right: 1.25rem;
      }
    }
  }
  .tile:nth-child(1) {
    margin-right: 0;
  }
  .tile:nth-child(n + 2) {
    margin-left: -10%;
  }

  .tile {
    &:nth-child(-n + 5):hover {
      flex-grow: 1.8;
      margin-right: -10%;
      margin-right: 40px;
    }
    &:nth-child(n + 6):hover {
      margin-left: -10%;
      flex-grow: 1.8;
    }
    flex-grow: 1;
    transition:
      flex-grow 0.6s theme('transitionTimingFunction.in-out-expo'),
      margin 0.6s theme('transitionTimingFunction.in-out-expo');
  }
}
