<div
  class="filter-menu relative flex flex-col bg-pure-white w-full h-full sm:w-6/12 md:w-5/12 xl:w-4/12 rounded-r-[30px] lg:rounded-r-[50px] px-9">
  <div class="cart-header flex justify-end w-full py-[30px] pr-[20px] pl-[40px]">
    <button
      class="transition ease-in-out-expo duration-[600ms] bg-white hover:bg-secondary rounded-[100%] w-[40px] h-[40px] inline-flex items-center justify-center"
      (click)="closeFilterMenu()">
      <svg
        class="font-bold"
        xmlns="http://www.w3.org/2000/svg"
        x="0px"
        y="0px"
        width="20"
        height="20"
        viewBox="0 0 50 50">
        <path
          d="M 9.15625 6.3125 L 6.3125 9.15625 L 22.15625 25 L 6.21875 40.96875 L 9.03125 43.78125 L 25 27.84375 L 40.9375 43.78125 L 43.78125 40.9375 L 27.84375 25 L 43.6875 9.15625 L 40.84375 6.3125 L 25 22.15625 Z"></path>
      </svg>
    </button>
  </div>

  <form [formGroup]="categoryForm" class="flex flex-col text-lg">
    <legend class="font-bold text-xl border-b-[1px] border-secondary mb-1">Choose category:</legend>

    <input type="radio" id="all" formControlName="category" value="" />
    <label i18n  for="all">All</label>

    <input type="radio" id="coffee" formControlName="category" value="1" />
    <label i18n  for="coffee">Coffee Beans</label>

    <input type="radio" id="iceCoffee" formControlName="category" value="2" />
    <label for="iceCoffee">Ice coffee</label>

    <input type="radio" id="capsule" formControlName="category" value="3" />
    <label for="capsule">Coffee capsule</label>

    <input type="radio" id="mugs" formControlName="category" value="4" />
    <label i18n  for="mugs">Mugs</label>

    <input type="radio" id="yerba" formControlName="category" value="5" />
    <label for="yerba">Yerba</label>

    <input type="radio" id="clothes" formControlName="category" value="6" />
    <label i18n  for="clothes">Clothes</label>
  </form>
  <div class="flex justify-end">
    <button i18n  class="flex rounded-[50px] text-white bg-black py-3 px-9 mt-3" (click)="filter()">
      Filter
    </button>
  </div>
</div>
<div class="background absolute inset-0 bg-overlay-background -z-[1]"></div>
