<form [formGroup]="sortForm" >
	<ul class="select">
	<li>
			<input class="select_close" type="radio" name="sortt" id="awesomeness-close" value="0"/>
			<span i18n class="select_label select_label-placeholder">Sort by:</span>
		</li>
		
		<li class="select_items">
			<input class="select_expand" type="radio" name="sortt"  id="awesomeness-opener" value="1"/>
			<label class="select_closeLabel" for="awesomeness-close"></label>
			
			<ul class="select_options">
				<li class="select_option">
					<input class="select_input" type="radio" formControlName="sort" id="relevance" value=""/>
					<label i18n  class="select_label" for="relevance">Relevance</label>
				</li>

				<li class="select_option">
					<input class="select_input" type="radio" formControlName="sort" id="highPrice" value="unitPrice,desc"/>
					<label i18n class="select_label" for="highPrice">Price High to Low</label>
				</li>

				<li class="select_option">
					<input class="select_input" type="radio" formControlName="sort" id="lowPrice" value="unitPrice"/>
					<label i18n class="select_label" for="lowPrice">Price Low to High</label>
				</li>

				<li class="select_option">
					<input class="select_input" type="radio" formControlName="sort" id="name" value="name"/>
					<label i18n class="select_label" for="name">Product Name</label>
				</li>
			</ul>
			
			<label class="select_expandLabel" for="awesomeness-opener"></label>
		</li>	
	</ul>
	
</form>