<div
  class="cart-image flex gap-[20px] border-t-black border-t-[2px] text-[18px] pt-[20px] pb-[10px]">
  <img
    class="w-[116px] h-[116px] object-cover rounded-[20px]"
    src="{{item.imageUrl}}"
    alt="" />
  <div class="flex flex-col justify-between w-full">
    <div class="flex justify-between items-center w-full">
      <div class="flex flex-col">
        <p class="text-[18px] font-semibold">{{item.name}}</p>
        <!-- <p class="text-[14px] font-light">12x330 ml</p> -->
      </div>
      <button (click)="removeItem()">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          x="0px"
          y="0px"
          width="20"
          height="20"
          viewBox="0 0 24 24">
          <path
            d="M 10 2 L 9 3 L 4 3 L 4 5 L 5 5 L 5 20 C 5 20.522222 5.1913289 21.05461 5.5683594 21.431641 C 5.9453899 21.808671 6.4777778 22 7 22 L 17 22 C 17.522222 22 18.05461 21.808671 18.431641 21.431641 C 18.808671 21.05461 19 20.522222 19 20 L 19 5 L 20 5 L 20 3 L 15 3 L 14 2 L 10 2 z M 7 5 L 17 5 L 17 20 L 7 20 L 7 5 z M 9 7 L 9 18 L 11 18 L 11 7 L 9 7 z M 13 7 L 13 18 L 15 18 L 15 7 L 13 7 z"></path>
        </svg>
      </button>
    </div>
    <div class="flex items-end justify-between w-full">
      <div class="quantity flex leading-[1]">
        <button class="flex w-[20px] h-[20px] rounded-[4.375rem] bg-black text-white"  (click)="decrementQuantity()" >
          <span class="leading-[19px] mx-auto">-</span>
        </button>
        <div
          class="flex justify-center items-center h-[20px] px-[15px] border-2 rounded-[4.375rem] mx-[3px]">
          <span class="text-[14px] font-bold">{{item.quantity}}</span>
        </div>
        <button
          class="flex justify-center items-center w-[20px] h-[20px] rounded-[4.375rem] bg-black text-white" (click)="incrementQuantity()" >
          <span class="leading-[20px] mx-auto">+</span>
        </button>
      </div>
      <div class="flex flex-col items-end"> <p *ngIf="item.quantity > 1" class="text-link-hover text-sm">per item {{item.unitPrice | currency: "USD"}}</p>
      <p>{{item.quantity * item.unitPrice| currency: "USD"}}</p></div>
     
    </div>
  </div>
</div>
