:host {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: fixed;
  inset: 0;
  color: theme('colors.black');
  z-index: 2;
  @media (min-width: 1024px) {
    flex-direction: row;
  }
}

.nav-inner {
  clip-path: inset(0% 0% 0% 0% round 0px 0px 30px 30px);

  @media (min-width: 1024px) {
    clip-path: inset(0% 0% 0% 0% round 0px 50px 50px 0px);
  }
}

