<router-outlet></router-outlet>
<app-checkout-summary
  class="left-side hidden lg:flex flex-col lg:w-1/2 px-10 lg:px-20"></app-checkout-summary>
<div class="flex flex-col right-side w-full lg:w-1/2 px-10 overflow-y-auto">
  <div class="self-center lg:hidden">
    <p i18n class="text-secondary">Pay CupOfBean</p>
    <p class="text-4xl">{{ totalPrice | currency:'USD' }}</p>
  </div>
  <!-- saved recipient element -->
  <div *ngIf="purchase" class="flex flex-col mb-4">
    <p i18n class="p-4 text-xl font-bold border-secondary border-b-[1px] mb-4">
      Details of the recipient of the shipment
    </p>
    <div class="text-sm">
      <p>{{ purchase.customer.firstName }} {{ purchase.customer.lastName }}</p>
      <p>{{ purchase.shippingAddress.street }}</p>
      <p>{{ purchase.shippingAddress.zipCode }} {{ purchase.shippingAddress.city }}</p>
      <p>{{ purchase.customer.email }}</p>
      <button
        i18n
        (click)="purchase = undefined"
        class="text-lg my-2 font-medium text-secondary hover:text-header-button-background-when-menu-open">
        CHANGE ADDRESS
      </button>
    </div>
  </div>

  <form *ngIf="!purchase" [formGroup]="checkoutFormGroup" (ngSubmit)="submitForm()">
    <div class="flex mb-4">
      <h3 i18n class="flex text-3xl border-secondary border-b-[1px] leading-relaxed">
        Shipping Address
      </h3>
    </div>
    <!-- customer form group -->
    <div formGroupName="customer">
      <div class="mt-3"><label i18n >First Name</label></div>

      <input i18n-placeholder formControlName="firstName" type="text" placeholder="First Name" />

      <div *ngIf="firstName?.invalid && firstName?.touched">
        <div i18n class="text-color-danger" *ngIf="firstName?.errors?.['required']">
          First Name is required
        </div>

        <div i18n class="text-color-danger" *ngIf="firstName?.errors?.['minlength']">
          First Name must be at least 2 characters long
        </div>
      </div>

      <div  class="mt-3"><label i18n>Last Name</label></div>

      <input i18n-placeholder formControlName="lastName" type="text" placeholder="Last Name" />

      <div *ngIf="lastName?.invalid && lastName?.touched" class="">
        <div i18n class="text-color-danger" *ngIf="lastName?.errors?.['required']">
          Last Name is required
        </div>

        <div i18n class="text-color-danger" *ngIf="lastName?.errors?.['minlength']">
          Last Name must be at least 2 characters long
        </div>
      </div>

      <div class="mt-3"><label>E-mail</label></div>

      <input formControlName="email" type="text" placeholder="E-mail"/>

      <div *ngIf="email?.invalid && email?.touched" class="">
        <div i18n class="text-color-danger" *ngIf="email?.errors?.['required']">
          Email is required
        </div>

        <div i18n class="text-color-danger" *ngIf="email?.errors?.['pattern']">
          Email must be a valid email address format
        </div>
      </div>
    </div>

    <!-- shipping Address -->
    <div formGroupName="shippingAddress" class="">
      <div  class="mt-3"><label i18n>Country</label></div>
      <select formControlName="country">
        <option *ngFor="let country of countries$ | async" [ngValue]="country.key">
          {{ country.value }}
        </option>
      </select>

      <div *ngIf="shippingAddressCountry?.invalid && shippingAddressCountry?.touched">
        <div i18n class="text-color-danger" *ngIf="shippingAddressCountry?.errors?.['required']">
          Country is required
        </div>
      </div>

      <div class="mt-3"><label i18n>Street</label></div>

      <input i18n-placeholder formControlName="street" type="text" placeholder="Street"/>

      <div
        *ngIf="shippingAddressStreet?.invalid && shippingAddressStreet?.touched"
        class="alert alert-danger mt-1">
        <div i18n class="text-color-danger" *ngIf="shippingAddressStreet?.errors?.['required']">
          Street is required
        </div>
        <div i18n class="text-color-danger" *ngIf="shippingAddressStreet?.errors?.['minlength']">
          Street must be at least 2 characters long
        </div>
      </div>

      <div  class="mt-3"><label i18n>City</label></div>

      <input i18n-placeholder formControlName="city" type="text" placeholder="City" />

      <div
        *ngIf="shippingAddressCity?.invalid && shippingAddressCity?.touched"
        class="alert alert-danger mt-1">
        <div i18n class="text-color-danger" *ngIf="shippingAddressCity?.errors?.['required']">
          City is required
        </div>
        <div i18n class="text-color-danger" *ngIf="shippingAddressCity?.errors?.['minlength']">
          City must be at least 2 characters long
        </div>
      </div>

      <div  class="mt-3"><label i18n>State</label></div>

      <select formControlName="state">
        <option *ngFor="let state of states$ | async" [ngValue]="state">
          {{ state }}
        </option>
      </select>

      <div
        *ngIf="shippingAddressState?.invalid && shippingAddressState?.touched"
        class="alert alert-danger mt-1">
        <div i18n class="text-color-danger" *ngIf="shippingAddressState?.errors?.['required']">
          State is required
        </div>
      </div>

      <div  class="mt-3"><label i18n>Zip Code</label></div>

      <input i18n-placeholder formControlName="zipCode" type="text" placeholder="Zip Code"/>

      <div
        *ngIf="shippingAddressZipCode?.invalid && shippingAddressZipCode?.touched"
        class="alert alert-danger mt-1">
        <div i18n class="text-color-danger" *ngIf="shippingAddressZipCode?.errors?.['required']">
          Zip code is required
        </div>
        <div i18n class="text-color-danger" *ngIf="shippingAddressZipCode?.errors?.['minlength']">
          Zip code must be at least 2 characters long
        </div>
      </div>
    </div>
    <!-- submit button-->
    <div class="w-full flex justify-center">
      <button i18n class="px-8 py-4 my-4 bg-black rounded-[30px] text-white" type="submit">
        Checkout
      </button>
    </div>
  </form>

  <!--stripe payment-element -->
  <ng-container *ngIf="purchase">
    <p i18n class="p-4 text-xl font-bold border-secondary border-b-[1px] mb-8">Payment</p>
    <div id="payment-element"></div>

    <div class="w-full flex justify-center">
      <button i18n class="px-8 py-4 my-4 bg-black rounded-[30px] text-white" (click)="onSubmit()">
        Purchase
      </button>
    </div></ng-container
  >
</div>
