<app-header class="z-[1]" @headerInitAniamation></app-header>
<!-- fixed header visible on scroll up -->
<app-header
  class="fixed z-[3]"
  [isStickyHeader] = true
  appStickyReactiveHeader
  [isMenuOpen]="(isMenuOpen$ | async)!"
  [@onOpenMenuOpenStickyHeaderAnimation]="isMenuOpen$ | async" 
  ></app-header>
<app-modal-menu *ngIf="isMenuOpen$ | async" @openCloseMenu></app-modal-menu>
<app-modal-cart (closeCartEvent)="closeCart()" *ngIf="isCartOpen$ | async" @openCloseCart></app-modal-cart>
<router-outlet></router-outlet>
<app-footer></app-footer>
