<div class="hero-image absolute top-0 right-0 w-full h-screen -z-[1]">
  <img
    class="w-full h-full object-cover"
    src="../../../assets/set-coffee-beans-ground-coffee-shape-world-map-top-view-dark-background_187166-18617.avif"
    alt="" />
  <div class="shadow-background absolute inset-0 bg-hero-background"></div>
  <h3
    class="text-white font-extrabold text-[120px] z-10 absolute bottom-[50px] left-0 max-w-[70vw] p-16">
    Lorem ipsum dolor, sit
  </h3>
</div>
<div class="flex justify-between mt-[calc(100vh-76px)] m-6">
  <button class="rounded-[50px] text-white bg-black py-3 px-7" (click)="openFilterMenu()">
    Filter
  </button>
  <app-sort></app-sort>
</div>

<app-filter @openCloseFilterMenuAnimation
  *ngIf="isFilterMenuOpen | async"
  (filteredProductsObservableEmitter)="filterProduct($event)"></app-filter>
<div class="products inline-grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-7 mx-7">
  <div class="cursor-pointer" *ngFor="let product of products$ | async">
    <img class="bg-[#efefef]" [src]="product.imageUrl" alt="product image" />
    <p>{{ product.name }}</p>
    <p>{{ product.unitPrice }}$</p>
  </div>
</div>
