<div class="header" >
  <p i18n  class="text-secondary">Pay CupOfBean</p>
  <p class="text-4xl">{{ totalPrice$ | async | currency:"USD" }}</p>
</div>
<div class="body mt-6 flex-1 overflow-y-auto">
  <div class="flex m-3 items-center" *ngFor="let item of items">
    <img
      class="w-20 h-20 object-cover ml-3 bg-background-products-checkout rounded-md p-[3px]"
      src="{{ item.imageUrl }}"
      alt="{{ item.name }}" />
    <div class="flex justify-between w-full pl-5 py-2">
      <div class="flex flex-col justify-between">
        <p class="font-medium">{{ item.name }}</p>
        <p>
          <span i18n class="font-extralight">Quantity: </span>
          <span class="font-medium">{{ item.quantity }}</span>
        </p>
      </div>
      <div class="flex flex-col items-end justify-between">
        <p class="font-medium">{{ item.quantity * item.unitPrice | currency:"USD" }}</p>
        <p class="text-secondary text-sm whitespace-nowrap" *ngIf="item.quantity > 1">
          {{ item.unitPrice | currency }} <span i18n>each</span>
        </p>
      </div>
    </div>
  </div>

</div>
  <div class="summary flex flex-col m-3 ml-[7.5rem]">
    <div class="flex justify-between py-4 font-medium">
      <p i18n >Subtotal</p>
      <p>{{ totalPrice$ | async | currency:"USD" }}</p>
    </div>
    <div class="flex justify-between items-center border-y-[1px] text-secondary border-y-header-button-background-in-sticky-header py-4">
      <div class="flex flex-col">
        <p i18n >Shipping</p>
        <p i18n >Ground Shipping (3-5 business days)</p>
      </div>
      {{ 0 | currency:"USD" }}
    </div>
    <div class="flex justify-between py-4 font-medium">
      <p i18n >Total due</p>
      <p>{{ totalPrice$ | async | currency }}</p>
    </div>
  </div>