/* You can add global styles to this file, and also import other style files */
@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

@font-face {
  font-family: 'onest';
  src: url('./assets/fonts/Onest/Onest-VariableFont_wght.ttf');
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }


  body {
    max-width: 100vw;
    overflow-x: hidden;
    font-family: 'onest';
  }